<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEDIATHEQUE D'ORSAY</title>
    <link href="home.scss" rel="stylesheet/scss" type="text/css"/>
</head>
<body>
<div class="page">
    <div class="top">
        <h1>MEDIATHEQUE D'ORSAY</h1>
        <div class="chercher">
            <label for="oeuvrename">Que cherchez-vous?</label> <input type="textbox" name="oeuvrename" id="chercher-input"><button type="button" id="chercher-button"></button>
        </div>
        <h2>+ recherche avancée</h2>
    </div>
    <div class="mid">






    </div>
    <div class="bot">
        <div class="time-block">
            <img src="../photo/clock.png" class="clock">
            <p>Lundi 10h-20h</p>
            <p>Mardi      10h-20h</p>
            <p>Mercredi   10h-20h</p>
            <p>Jeudi      10h-20h</p>
            <p>Vendredi   10h-20h</p>
            <p>Samedi     10h-20h</p>
            <p>Dimanche   10h-20h</p>
        </div>
        <div class="adresse-block">
            <img src="../photo/position.png" class="adresse">
            <p>15 Rue Georges Clemenceau, 91400 Orsay</p>
        </div>
    </div>
</div>
</body>
</html>
